$roundedCorners: 0.5rem;
$taskColorSalmon: rgb(238, 193, 188);
$taskColorYellow: rgb(250, 246, 193);
$taskColorGreen: rgb(219, 243, 170);


.mainContainer{
  display: flex; 
  height: 50rem;
  width: 100%;
  background-color: white;
}

.NavBar{
  position: relative;
  height: 50rem;
  width: 15rem;
  margin: 0.3rem;
  border-radius: $roundedCorners;
  background-color: #024b18;
  box-shadow: #326732 0px 3px 8px;
}

.mainContainer > div{
  margin: 0.3rem;
  border-radius: $roundedCorners;
}

.content{
  width: 90%;
  height: 43rem;
}

.header{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: $roundedCorners;
  padding: 0.3rem;
}

.header > div{
  width: 100%;
}

h2,h3{
  padding:0;
  margin: 0.5rem 0.5rem;
}

h3{
  color:grey;
}

.taskHeader{
  margin: 1rem 0rem;
  //padding: 2rem;
  cursor: pointer;
}

.taskContent{
  //border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 44rem;
  border-radius: $roundedCorners;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}

.taskColorRed{
  background-color: $taskColorSalmon;
}

.taskColorYellow{
  background-color: $taskColorYellow;
}

.taskColorGreen{
  background-color: $taskColorGreen;
}

.tasks{
  display:flex;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0.3rem 0;
}

.tasks:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.tasks > td{
  padding: 0.2rem;
  width: 12rem; 
}

.taskContainer{
  table-layout: Fixed;
  width:100%;
  //border: 1px solid red;
}

.iconsEditDel{
  margin-top:1rem;
  display: flex;
  justify-content: center;
}


.ProgressBar{
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.itemsAlignLeft{
  margin-left: 4rem;
}

.itemAlignLeftDate{
  margin-left: 1rem;
}
