.container{
  display: flex;
  border:1px solid black;
  border-radius: 0.4rem;
  background-color: rgb(240, 167, 159);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40%!important;
}

.container > p{
  margin: 0.8rem;
}