$noUnderLine: none;
$leftNavBar: 14rem;

.mainContainer{
  height:100%;
  border: 1px solid black;
  width: $leftNavBar;
  border-radius: 0.5rem;
  background-color: #024b18;
}

.navBarUL{
  padding:0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

.navBarUL > li{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
  &
  :hover{

    background-color: #326732;
    border-color:#326732;
    border-radius: 0.4rem;
    color: whitesmoke;
  }
}



.link{
  background-color: #024b18;
  color:#cccccc;
  font-size: medium;
  border: 0;

  &:focus, &:visited, &:link, &:active {
    text-decoration: $noUnderLine;
  }
}

link:hover{
  background-color: #326732;
  color: whitesmoke;
  font-weight: bold;
  padding: 0.8rem;
}

.buttonStatus{
  background-color: #024b18;
  color:#cccccc;
  font-size: medium;
  border: 0;
}

.buttonStatus:hover{
  background-color: #326732;
  color: whitesmoke;
  font-weight: bold;
  padding: 0.8rem;
}

.logout{
  margin-top: 18rem;
}